
@{
    ViewBag.Title = "Opções";
}

<h2>Opções:</h2>
<li>@Html.ActionLink("Consultar Lista de Ingredientes", "Ingredientes", "Principal", new { area = "" }, null)</li>
<li>@Html.ActionLink("Consultar Lista de Lanches", "Lanches", "Principal", new { area = "" }, null)</li>
<li>@Html.ActionLink("Personalizar Lanches", "PersonalizarLanches", "Principal", new { area = "" }, null)</li>

